@import "@/assets/styles/colors.scss";
@import "@/assets/styles/dimens.scss";

.root {
  width: $client-main-width;
  height: $client-main-height;
  min-height: $client-main-height;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-white;
  margin-top: 60px;
}