@import "@/assets/styles/dimens.scss";
@import "@/assets/styles/colors.scss";

.root {
  height: $main-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .titleWrapper {
    display: flex;
    align-items: center;
    color: $color-white;
    .titleText {
      font-size: $font-size-large-xx;
      font-weight: bold;
    }
    .titleControlWrapper {
      margin-left: $padding-normal-xxx;
    }
  }

  .controlWrapper {
    display: flex;
    align-items: center;
    .customControlWrapper {
      margin-right: $padding-normal-xxx;
    }
  }
}