@import "@/assets/styles/dimens.scss";

.listRoot {
  width: 100%;
  height: 100%;
  padding: $padding-extreme-large-xxx;
  overflow-y: scroll;
  display: flex;
  justify-content: center;

  .listWrapper {
    max-width: 1080px;
  }
  
}