$padding-narrow: 2px;
$padding-narrow-x: 4px;
$padding-narrow-xx: 6px;
$padding-narrow-xxx: 8px;
$padding-normal: 10px;
$padding-normal-x: 12px;
$padding-normal-xx: 14px;
$padding-normal-xxx: 16px;
$padding-large: 18px;
$padding-large-x: 20px;
$padding-large-xx: 22px;
$padding-large-xxx: 24px;
$padding-extreme-large: 26px;
$padding-extreme-large-x: 28px;
$padding-extreme-large-xx: 30px;
$padding-extreme-large-xxx: 32px;

$radius-normal: 4px;
$radius-normal-x: 6px;
$radius-normal-xx: 8px;

$font-size-small-xxx: 12px;
$font-size-normal: 14px;
$font-size-normal-x: 16px;
$font-size-normal-xx: 18px;
$font-size-normal-xxx: 20px;
$font-size-large: 22px;
$font-size-large-x: 24px;
$font-size-large-xx: 26px;
$font-size-large-xxx: 28px;
$font-size-extreme-large: 30px;
$font-size-extreme-large-x: 32px;
$font-size-extreme-large-xx: 34px;
$font-size-extreme-large-xxx: 36px;

$font-size-main-logo: 28px;

$line-width: 1px;

$main-header-height: 64px;

$client-main-width: 375px;
$client-main-height: 560px