@import "@/assets/styles/dimens.scss";
@import "@/assets/styles/colors.scss";

.list {
  width: 100%;
  li {
    
  }
}

.itemWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: none;

  &.active {
    border: $line-width solid $color-main-blue;
  }
}